* {
    box-sizing: border-box;
    border: 1px solid red;
}

.btn {
    border: 1px solid black;
    text-align: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    height:300px;
    grid-gap: 5px;
}

.counter-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}