* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --color: #fff5cf;
    --color-set: pink;
    --font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size);
    text-align: center;
}

header {
    background-color: var(--color-set);
    width: 100%;
    border-bottom: 1px solid black;
}

h1 {
    margin: 20px 0px 10px 0px;
    animation: bounce; 
    animation-duration: 2s;
    font-size: 3em;
}

.counter-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 70px;
}

.counter-bar h2 {
    margin: 10px 0px 20px 0px;
}

.rounds {
    margin: 40px 0px 0px 0px;
}

h3 {
    margin: 15px 0px 20px 0px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    grid-gap: 5px;
}

.btn {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: var(--color-set);
    font-size: 3em;
    width: 166px;
    height: 166px;
    cursor: pointer;
}

.reset {
    background-color: var(--color-set);
    width: 130px;
    height:50px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.hide {
    visibility: hidden;
}

.win {
    background-color: greenyellow;
}