* {
    box-sizing: border-box;
}

:root {
    --color: #fff5cf;
    --color-set: pink;
    --font-size: 25px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: url(https://st3.depositphotos.com/5664698/15895/v/1600/depositphotos_158957388-stock-illustration-vector-cute-rock-n-roll.jpg);
    background-size: cover;
    font-family: 'New Rocker', cursive;
    font-size: var(--font-size);
    text-align: center;
}

header {
    background-color: var(--color);
    width: 100%;
    border-bottom: 5px solid black;
}


img {
    width: 400px;
    height: 150px;
    margin: 10px 0px 5px 0px;
    animation: bounce; 
    animation-duration: 2s;
}

.counter-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

.counter-bar h2 {
    margin: 10px 0px 20px 0px;
}

.countRounds {
    display: flex; 
    align-items: center;
    gap: 30px;
}

.rounds {
    font-size: 1.8em;
    margin-bottom: 0px;
}

h3 {
    margin: 40px 0px 0px 0px;
}

.congrats {
    margin: 10px 0px 5px 0px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    grid-gap: 5px;
}

.btn {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: var(--color-set);
    font-size: 3em;
    width: 166px;
    height: 166px;
    cursor: pointer;
    font-family: 'New Rocker', cursive;
}

.reset {
    background-color: greenyellow;
    width: 180px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.3em;
    margin: 70px 0px 10px 0px;
    font-family: 'New Rocker', cursive;
}

.hide {
    visibility: hidden;
}

.win {
    background-color: greenyellow;
}